@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: 'Euclid Circular A';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ff4b1f; /* fallback for old browsers */
  background: linear-gradient(to right, #1fddff, #ff4b1f);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1,
h2,
h3,
p,
ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style-type: none;
}
textarea {
  resize: none;
}
button {
  font-family: inherit;
  border: none;
  margin: 0;
  padding: 0;
  outline: transparent;
  cursor: pointer;
}

input {
  outline: transparent;
}
img {
  display: block;
}
a {
  color: #000000;
  font-size: 24px;
  text-decoration: none;
  line-height: 1.71;
  outline: transparent;
}
b {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
